.todoList{
    padding-left:0 ;
}
.todoList__task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    column-gap: 20px
}
.todoList__btns{
    display: flex;
    column-gap: 10px;
}
.todoList__btn{
    width: 70px;
    height: 40px;
    cursor: pointer;
    border-radius: 7px;
}
.todoList__input{
    padding: 5px 5px 5px 10px;
    width: auto;
    resize:none;
    height: auto;
}