*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    background-color: skyblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-container{
    width: 100%;
    max-width: 500px;
 
    padding: 20px 15px;
    background-color: white;
    border-radius: 5px;
}
.btn-outline-secondary{
    padding: 0 ;
    border: none ;
    height: 0 ;
}
.btn-outline-secondary:hover{
    color:black;

}
.btn-outline-secondary:hover{
   background-color: white;
   color: black;  
}

.btn-check:active.btn-outline-secondary,
.btn-outline-secondary:focus{
    color: black;
    background-color: white;
    border-color:#555 ;
}
